# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Operating system
.DS_Store
Thumbs.db

# IDE
.vscode/

# Secrets
.env
*.env

# Streamlit
.streamlit/secrets.toml

# Temporary files
*.log